<!DOCTYPE html>
<html>
  <head>
    {% block head -%}
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='html5shiv.js') }}"></script>
    <![endif]-->
    <title>{{ title }} &ndash; {{ page_title }}</title>
    {%- endblock head %}
  </head>
  <body>

    <header>
      <h1>{{ title }}</h1>
    </header>

    <main>
{%- block body %}{% endblock %}
    </main>
  </body>
</html>
